<header>
  <nav>
    <a href="/">Gym management</a>
    <ul>
      <li><a href="/authors">Members</a></li>
      <li><a href="/authors/new">Add Members</a></li>
      <li><a href="/books">Plans</a></li>
      <li><a href="/books/new">Add Plans</a></li>
    </ul>
  </nav>
</header>